*.dll
*.exe
/*.obj
*.txt
*.lib
.vscode
/build
/data/cardGame
/data/cityGame
/data/Inspector
/data/snake
/data/test
/data/vixen
/compiler
/code/Engine/test
/code/Engine/main.cpp
/code/Engine/*.obj
/code/cardGame
/code/cityGame
/code/Inspector
/code/snake
/code/terrain